
<div class="main">
<div class="topnav">

<div class="add-employee">

<button type="button"  class="btn btn-outline-success btn-lg" >Add employee</button>
</div>


<div class="search">
<input type="search" class="form-control"  placeholder="search" >
</div>


</div>

<div class="employees">
<div class="row mt-5 ">
<div class="col text-center ">
<span class="text-secondary fs-2 fw-bold fst-italic" >There are no employees</span>

</div>

</div>

</div>

<div class="employee-container">
<div><h1>vbnkml</h1></div>


</div>

</div>