.main{
margin:  45px;
}

.topnav{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-heading
{
border-top: 1px solid #2e2d2dcb;
}



.form-heading h6
{background-color: rgb(255, 255, 255);
text-align: center;
width: 200px;
transform: translateY(-50%);
}

